body {
    font-family: "Poetsen One", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisoria{
border-top: 3px solid #E559F9;
width: 100px;
}

h1 {
    text-align: center;
    width: 397px;
    height: 36px;
    top: 232px;
    left: 521px;
    font-size:22px 
}

img {
    width: 128px;
    }
    
    form {
      display: flex;
      flex-direction: column;
      width: 320px;
    }
    
    button{
        font-weight: bold;
        background-color:#184680;
        margin-top: 16px;
        color: white;
        border: none;
        padding: 8px;
        border-radius: 8px;
      
        cursor: pointer;
        font-family: "Poetsen One", sans-serif;
      }

      button:hover {
        background-color: black;
      }

      label{
        font-weight: bold;
        margin-top: 16px;
      }
      
      input{
        height: 24px;
        padding: 8px;
        margin-top: 3px;
        font-weight: bold;
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      .tabela-ceps{
        margin-top: 40px;
        width: 500px;
        text-align: center;
      }